#nav-tab {
    display: flex;
    padding: 4px;
    color: azure;
    background-color: #020617;
}

html {
    background-color: #0F172A;
}

.main-image-container {}

.card-container {
    background-color: #1E293B;
}