/* 
  paleta de colores:
  #3E322C para contrastar con el fondo
  #F4EFE6 para el fondo
  #D46F4D para botones o hovers
*/

.nav-tab {
    display: flex;
    gap: 3rem;
    position: fixed;
    width: 100%;
    padding: 0.5rem 2rem;
    background-color: #3E322C;
}

.nav-tab ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    align-items: center;

    margin: 0;
    padding: 0;
}

.nav-tab img {
    max-width: 100px;
    height: auto;
    display: block;
}

.nav-tab a {
    color: #F4EfE6;
    text-decoration: none;
}

.nav-tab a:hover {
    color: #D46F4D;
}

body {
    background-color: #F4EFE6;
}

.main-image-container {
    width: 100%;
    height: 700px;
}

.main-image-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    gap: 2rem;
}

.album-card {
    padding: 1rem;
    background-color: #3E322C;
    border-radius: 3px;
    text-align: left;
}

.album-card h4 {
    color: #F4EfE6;
    margin-top: auto;
}

.album-card p {
    color: #F4EfE6;
    margin-bottom: 1rem;
    margin-top: 0;
}

.album-card img {
    width: 100%;
    height: auto;

    margin: 0 auto;
    margin-bottom: 1rem;

    max-width: 250px;
    border-radius: 3px;
    display: block;
}

.album-card button {
    background-color: #D46F4D;
    color: #F4EfE6;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.album-card button:hover {
    background-color: #B55B3D;
}

.titulo-ofertas {
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 2rem;

    color: #3E322C;
    font-size: 2rem;
}
